@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */



:root {
  --color-bg: #000000;   
  --color-text: #1f2937;
  --color-accent: #5c5db2;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  background-color: var(--color-bg);
  color: var(--color-text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: inherit;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Optional: Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 4px;
}


